.wan-home > ul {
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
}

.wan-home > ul li {
    height: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    background: white;
}

.wan-card {
    display: flex;
}

.wan-card .wan-card-text {
    flex: 1;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.wan-card .wan-card-img {
    width: 150px;
    height: 130px;
    background-image: url("https://ws1.sinaimg.cn/large/0065oQSqly1g0ajj4h6ndj30sg11xdmj.jpg");
    background-size: cover;
    margin-right: 20px;
    margin-top: 10px;
}